
{% extends 'base.html' %}

{% block content %}

<div id="section">
  <div id="segundoBloque">
    <div class = "titulo">
      <h1>Acerca de</h1>
    </div>
    <div class = "texto">
      <br/>
      <p> Como una forma de socializar el trabajo de la la Policía Nacional Civil a la población guatemalteca, el portal de Estadísticas de la PNC provee datos actualizados de los hechos violentos en el territorio nacional. La base de datos, alimentada con el producto de la investigación de las primeras 72 horas posteriores al hecho, da a investigadores sociales, periodistas y analistas de violencia un panorama constante del comportamiento criminal.
     <br/>
     <br/>
      La máxima utilidad del portal de Estadísticas de la PNC radica en sus filtros. Estos al ser aplicados por el usuario, facilita la diferenciación de análisis territorial en lo local. Así, aunque dos espacios compartan características, la separación de ambos mediante sus datos finales permitirá evaluar su evolución, la detección de patrones y la manera de abordarlos.
      <br/>
      <br/>
      Proyecto financiado por el Fondo para Investigaciones Periodísticas (FIJ) de Washington, DC en alianza con la Universidad Rafael Landívar de Quetzaltenango.
      <br/>
      <br/>
      <div class="firma">
        <div class = "firmaBold">
          Francisco Rodriguez
        </div>
        elPeriodico de Guatemala
      </div>
      </p>
      <p font-weight= "bold">
        Desarrolladores:
          <br/>
          <a href="mailto:carlosfipq@gmail.com">    Carlos Garcia Robles</a>
          <br/>
          <a href="mailto:malvinjazz@hotmail.com">    Melvin Juarez Amezquita</a>
          <br/>
          <a href="mailto:justojul23@hotmail.com">    Justo Rivera Pac</a>
          <br/>
          <a href="mailto:chofo2003@hotmail.com">   Rodolfo Rodas Oregel</a>
      </p>
    </div>
  </div>
</div>


{% endblock %}
