{% extends 'base.html' %}

{% block content %}
<!-- onsubmit='this.reset()' -->
<form method = 'POST', action='' >
	{% csrf_token %}
	{{form.categoria}}<br/>
	<div id='fg'>		
		Calibre:
		{{form.calibre}}<br/>
		Serial:
		{{form.serial}}<br/>
		Marca:
		{{form.marca}}<br/>
	</div>
	
	Objeto:
		{{form.objeto}}<br/>
	
	
	<br/>
	<hr>

	<input type='submit' value='Registrar Arma'>
</form>
	{% endblock %}


	{% block js %}
	{% csrf_token %}
	<script type="text/javascript">	
		$('#id_categoria').on('change', funcion);
		$formulario_Fg=$('#fg');
		$formulario_Fg.hide();


		function funcion(){
			$formulario_Fg.hide();

			var id = $(this).val();

			if(id == 'Fg'){
				$formulario_Fg.show();								
			}			
		}
	</script>

	{% endblock %}

</form>	


jquery, datetime django
holderplace
jquery limpiar


