{% extends 'base.html' %}

{% block content %}

<!-- onsubmit='this.reset()' -->
<div id="section">
  <div id="BloqueInicio">
            <div class = "title">
      <h2>Nueva arma</h2>
    </div>
    <div class = "camposForms">
      <form method = 'POST', action='' >
	{% csrf_token %}
	{{form.categoria}}<br/>
	<div id='fg'>
		<label>Calibre:</label>
		{{form.calibre}}<br/>
		<label>Marca:</label>
		{{form.marca}}<br/>
	</div>

	<label>Objeto:</label>
		{{form.objeto}}<br/>


	<br/>
	<hr>
  <br/>
  <br/>
	<input type='submit' value='Registrar Arma'>

{% endblock %}

{% block js %}
{% csrf_token %}
	<script type="text/javascript">
		$('#id_categoria').on('change', funcion);
		$formulario_Fg=$('#fg');
		$formulario_Fg.hide();


		function funcion(){
			$formulario_Fg.hide();

			var id = $(this).val();

			if(id == 'Fg'){
				$formulario_Fg.show();
			}
		}
	</script>


</form>

</div>
  </div>
</div>
{% endblock %}
