{% extends 'base.html' %}

{% block content %}


    <div id="section">
    		<div class = "title">
    			<h2>Actividades del usuario</h2>
    		</div>
    		<div class = "alineacionCentral">
    			<table class="table">
            <tr>
              <td>Usuario</td>
              <td>Accion</td>
              <td>Registro</td>
              <td>Fecha</td>
            </tr>
            {% for dato in detalles %}
            <tr>
              <td><i>{{dato.Usuario_id}}</i></td>
              <td><i>{{dato.actividad}}</i></td>
              <td><i>{{dato.Registro_id}}</td>
              <td><i>{{dato.fecha}}</i></td>
    				</tr>
            {% endfor %}
          </table>
    		</div>
    </div>

{% endblock %}
