{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href='{% static "css/default.css" %}' rel="stylesheet" type="text/css" media="all" />
<link href='{% static "css/fonts.css" %}' rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>





    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['geochart']});
      google.charts.setOnLoadCallback(drawRegionsMap);
      google.charts.setOnLoadCallback(drawRegionsMap2);
      google.charts.setOnLoadCallback(drawRegionsMap3);
      google.charts.setOnLoadCallback(drawRegionsMap4);


      function drawRegionsMap() {

        var data = google.visualization.arrayToDataTable([

          ['States','Estado','Casos'],
          ['GT-AV','Alta Verapaz',{{Registro_AvM}}+{{Registro_AvF}}+{{Registro_AvD}}],
          ['GT-BV','Baja Verapaz',{{Registro_BvM}}+{{Registro_BvF}}+{{Registro_BvD}}],
          ['GT-CM','Chimaltenango',3],
          ['GT-CQ','Chiquimula',4],
          ['GT-PR','El Progreso',5],
          ['GT-ES','Escuintla',6],
          ['GT-GU','Guatemala',7],
          ['GT-HU','HuehueTenango',8],
          ['GT-IZ','Izabal',9],
          ['GT-JA','Jalapa',10],
          ['GT-JU','Jutiapa',11],
          ['GT-PE','Peten',12],
          ['GT-QZ','Quetzaltenango',13],
          ['GT-QC','Quiche',14],
          ['GT-RE','Retalhuleu',15],
          ['GT-SA','Sacatepequez',16],
          ['GT-SM','San Marcos',17],
          ['GT-SR','Santa Rosa',18],
          ['GT-SO','Solola',19],
          ['GT-SU','Suchitepequez',20],
          ['GT-TO','Totonicapan',21],
          ['GT-ZA','Zacapa',22],
        ]);

    var options =
    {
         backgroundColor: '#2651a8',
          datalessRegionColor: '#2651a8',
          defaultColor: '#f5f5f5',

        sizeAxis: { minValue: 1, maxValue: 22 },
        legend: 'True', // se quita el slider indicador de poblacion minima y maxima
        //tooltip: {trigger:'none'},
        region: 'GT',   // region a dibujar en el mapa
        resolution: 'provinces',    //
       // displayMode: 'markers',

        // color minimo: 'LightYellow' y color maximo: 'Salmon', igual se pueden utilizar los valor rgb.
        colorAxis: {colors: ['#FFFF66', '#FFA500','#B22222'] }

    };
    //se instacia y se dibuja el grafico
   var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
      chart.draw(data, options);
};

function drawRegionsMap2() {

        var data = google.visualization.arrayToDataTable([
          ['States','Estado','Casos'],
          ['GT-AV','Alta Verapaz',{{Registro_AvF}}],
          ['GT-BV','Baja Verapaz',{{Registro_BvF}}],
          ['GT-CM','Chimaltenango',3],
          ['GT-CQ','Chiquimula',4],
          ['GT-PR','El Progreso',5],
          ['GT-ES','Escuintla',6],
          ['GT-GU','Guatemala',7],
          ['GT-HU','HuehueTenango',8],
          ['GT-IZ','Izabal',9],
          ['GT-JA','Jalapa',10],
          ['GT-JU','Jutiapa',11],
          ['GT-PE','Peten',12],
          ['GT-QZ','Quetzaltenango',13],
          ['GT-QC','Quiche',14],
          ['GT-RE','Retalhuleu',15],
          ['GT-SA','Sacatepequez',16],
          ['GT-SM','San Marcos',17],
          ['GT-SR','Santa Rosa',18],
          ['GT-SO','Solola',19],
          ['GT-SU','Suchitepequez',20],
          ['GT-TO','Totonicapan',21],
          ['GT-ZA','Zacapa',22],
        ]);

    var options =
    {
         backgroundColor: '#2651a8',
          datalessRegionColor: '#2651a8',
          defaultColor: '#f5f5f5',

        sizeAxis: { minValue: 1, maxValue: 22 },
        legend: 'True', // se quita el slider indicador de poblacion minima y maxima
        //tooltip: {trigger:'none'},
        region: 'GT',   // region a dibujar en el mapa
        resolution: 'provinces',    //
       // displayMode: 'markers',

        // color minimo: 'LightYellow' y color maximo: 'Salmon', igual se pueden utilizar los valor rgb.
        colorAxis: {colors: ['#FFFF66', '#FFA500','#B22222'] }

    };
    //se instacia y se dibuja el grafico
   var chart2 = new google.visualization.GeoChart(document.getElementById('chart2_div'));
      chart2.draw(data, options);
};




function drawRegionsMap3() {

        var data = google.visualization.arrayToDataTable([
          ['States','Estado','Casos'],
          ['GT-AV','Alta Verapaz',{{Registro_AvM}}],
          ['GT-BV','Baja Verapaz',{{Registro_BvM}}],
          ['GT-CM','Chimaltenango',3],
          ['GT-CQ','Chiquimula',4],
          ['GT-PR','El Progreso',5],
          ['GT-ES','Escuintla',6],
          ['GT-GU','Guatemala',7],
          ['GT-HU','HuehueTenango',8],
          ['GT-IZ','Izabal',9],
          ['GT-JA','Jalapa',10],
          ['GT-JU','Jutiapa',11],
          ['GT-PE','Peten',12],
          ['GT-QZ','Quetzaltenango',13],
          ['GT-QC','Quiche',14],
          ['GT-RE','Retalhuleu',15],
          ['GT-SA','Sacatepequez',16],
          ['GT-SM','San Marcos',17],
          ['GT-SR','Santa Rosa',18],
          ['GT-SO','Solola',19],
          ['GT-SU','Suchitepequez',20],
          ['GT-TO','Totonicapan',21],
          ['GT-ZA','Zacapa',22],
        ]);

    var options =
    {
         backgroundColor: '#2651a8',
          datalessRegionColor: '#2651a8',
          defaultColor: '#f5f5f5',

        sizeAxis: { minValue: 1, maxValue: 22 },
        legend: 'True', // se quita el slider indicador de poblacion minima y maxima
        //tooltip: {trigger:'none'},
        region: 'GT',   // region a dibujar en el mapa
        resolution: 'provinces',    //
       // displayMode: 'markers',

        // color minimo: 'LightYellow' y color maximo: 'Salmon', igual se pueden utilizar los valor rgb.
        colorAxis: {colors: ['#FFFF66', '#FFA500','#B22222'] }

    };
    //se instacia y se dibuja el grafico
   var chart3 = new google.visualization.GeoChart(document.getElementById('chart3_div'));
      chart3.draw(data, options);
};

function drawRegionsMap4() {

        var data = google.visualization.arrayToDataTable([
          ['States','Estado','Casos'],
          ['GT-AV','Alta Verapaz',{{Registro_AvE}}],
          ['GT-BV','Baja Verapaz',{{Registro_BvE}}],
          ['GT-CM','Chimaltenango',3],
          ['GT-CQ','Chiquimula',4],
          ['GT-PR','El Progreso',5],
          ['GT-ES','Escuintla',6],
          ['GT-GU','Guatemala',7],
          ['GT-HU','HuehueTenango',8],
          ['GT-IZ','Izabal',9],
          ['GT-JA','Jalapa',10],
          ['GT-JU','Jutiapa',11],
          ['GT-PE','Peten',12],
          ['GT-QZ','Quetzaltenango',13],
          ['GT-QC','Quiche',14],
          ['GT-RE','Retalhuleu',15],
          ['GT-SA','Sacatepequez',16],
          ['GT-SM','San Marcos',17],
          ['GT-SR','Santa Rosa',18],
          ['GT-SO','Solola',19],
          ['GT-SU','Suchitepequez',20],
          ['GT-TO','Totonicapan',21],
          ['GT-ZA','Zacapa',22],
        ]);

    var options =
    {
         backgroundColor: '#2651a8',
          datalessRegionColor: '#2651a8',
          defaultColor: '#f5f5f5',

        //sizeAxis: { minValue: 1, maxValue: 22 },
        legend: 'True', // se quita el slider indicador de poblacion minima y maxima
        //tooltip: {trigger:'none'},
        region: 'GT',   // region a dibujar en el mapa
        resolution: 'provinces',    //
       // displayMode: 'markers',

        // color minimo: 'LightYellow' y color maximo: 'Salmon', igual se pueden utilizar los valor rgb.
        colorAxis: {colors: ['#FFFF66', '#FFA500','#B22222'] }

    };
    //se instacia y se dibuja el grafico
   var chart4 = new google.visualization.GeoChart(document.getElementById('chart4_div'));
      chart4.draw(data, options);
};











</script>



</head>



<header>
  <div id="header-wrapper">
    <div id="header" class="contenedor">
      <div id="logo">
        <!-- Aca debe ir imagen -->
      </div>
      <div id="menu" class="submenu">
        <ul>
          <li><a href="/" accesskey="1" title="">Inicio</a></li>
          <li><a href="/acerca" accesskey="2" title="">Acerca de</a></li>
          {% if user.is_authenticated %}
          <li><a href="#" accesskey="4" title="">Registros</a>
  					<ul>
  						<li><a href="/registros" accesskey="8" title="">Agregar Registro</a></li>
  						<div class="fin"></div>
  					</ul>
  				</li>
          <li><a href={% url 'appHome:perfil' %} accesskey="3" title="">Perfil</a></li>
  				<li><a href="/logout" accesskey="5" title="">Cerrar Sesión"</a></li>
          {% else %}
          <li><a href="/signin" accesskey="6" title="">Iniciar sesion</a></li>
          {% endif %}
        </ul>
  		</div>
    </div>
    <div id="banner" class="container">
      <div class="title">
        <h2>Policia Nacional Civil de Guatemala</h2>
        <span class="byline">Sistema de estadistica y control de hechos violentos</span>
      </div>
    </div>
  </div>
</header>


<body>


  <div id="section">
    <div id="segundoBloque">
      <div class = "title">
        <h2>Titulo uno</h2>

      </div>
      <a href="estadisticas"><button  type="button" class="btn btn-primary">Estadisticas</button></a>
      <p>.Aca va texto o api de estadisticas</p>
    </div>
  </div>




  <div id="wrapper">
    <div class="title">
      <h2>Titulo dos</h2>
      <span class="byline">Prueba de tamano de contenedor a</span>
    </div>
		<div id="two-column" class="container">


			<div class="tbox1">
        <font color="Black">Total</font>
       	<div id="chart_div" style="width: 100%; height: 500px;"></div>
        <pr></pr>
        <pr></pr>
        <pr></pr>
        <pr></pr>
        <pr></pr>
        <font color="Black">Hombres</font>

        <div id="chart3_div" style="width: 100%; height: 500px;"></div>
			</div>


			<div class="tbox2">
        <font color="Black">Menores</font>
          <div id="chart4_div" style="width: 100%; height: 500px;"></div>
        <pr></pr>
        <pr></pr>
        <pr></pr>
        <pr></pr>
        <pr></pr>
        <font color="Black">Mujeres</font>
        <div id="chart2_div" style="width: 100%; height: 500px;"></div>





			</div>

		</div>
	</div>



<div id="copyright" class="container">
  <p>&copy;  asdasd </p>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
