{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href='{% static "css/default.css" %}' rel="stylesheet" type="text/css" media="all" />
<link href='{% static "css/fonts.css" %}' rel="stylesheet" type="text/css" media="all" />

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['geochart']});
      google.charts.setOnLoadCallback(drawRegionsMap);




      function drawRegionsMap() {

        var data = google.visualization.arrayToDataTable([
          ['States','Estado','Casos'],
          ['GT-AV','Alta Verapaz',1],
          ['GT-BV','Baja Verapaz',2],
          ['GT-CM','Chimaltenango',3],
          ['GT-CQ','Chiquimula',4],
          ['GT-PR','El Progreso',5],
          ['GT-ES','Escuintla',6],
          ['GT-GU','Guatemala',7],
          ['GT-HU','HuehueTenango',8],
          ['GT-IZ','Izabal',9],
          ['GT-JA','Jalapa',10],
          ['GT-JU','Jutiapa',11],
          ['GT-PE','Peten',12],
          ['GT-QZ','Quetzaltenango',13],
          ['GT-QC','Quiche',14],
          ['GT-RE','Retalhuleu',15],
          ['GT-SA','Sacatepequez',16],
          ['GT-SM','San Marcos',17],
          ['GT-SR','Santa Rosa',18],
          ['GT-SO','Solola',19],
          ['GT-SU','Suchitepequez',20],
          ['GT-TO','Totonicapan',21],
          ['GT-ZA','Zacapa',22],



        ]);

    var options =
    {
         backgroundColor: '#2651a8',
          datalessRegionColor: '#2651a8',
          defaultColor: '#f5f5f5',

        sizeAxis: { minValue: 1, maxValue: 22 },
        legend: 'True', // se quita el slider indicador de poblacion minima y maxima
        //tooltip: {trigger:'none'},
        region: 'GT',   // region a dibujar en el mapa
        resolution: 'provinces',    //
       // displayMode: 'markers',

        // color minimo: 'LightYellow' y color maximo: 'Salmon', igual se pueden utilizar los valor rgb.
        colorAxis: {colors: ['#FFFF66', '#FFA500','#B22222'] }

    };
    //se instacia y se dibuja el grafico
   var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
      chart.draw(data, options);
};
    </script>
</head>



<header>
  <div id="header-wrapper">
    <div id="header" class="contenedor">
      <div id="logo">
        <!-- Aca debe ir imagen -->
      </div>
      <div id="menu" class="submenu">
        <ul>
          <li><a href="/" accesskey="1" title="">Inicio</a></li>
          <li><a href="#" accesskey="2" title="">Acerca de</a></li>
          <li><a href="#" accesskey="3" title="">Contacto</a></li>
          {% if user.is_authenticated %}
          <li><a href="#" accesskey="4" title="">Registros</a>
  					<ul>
  						<li><a href="/" accesskey="7" title="">Consulta</a></li>
  						<li><a href="/registros" accesskey="8" title="">Agregar Registro</a></li>
  						<li><a href="/regArmas" accesskey="9" title="">Agregar arma</a></li>
  						<div class="fin"></div>
  					</ul>
  				</li>
  				<li><a href="/logout" accesskey="5" title="">Cerrar Sesión"</a></li>
          {% else %}
          <li><a href="/signin" accesskey="6" title="">Iniciar sesion</a></li>
          {% endif %}
        </ul>
  		</div>
    </div>
    <div id="banner" class="container">
      <div class="title">
        <h2>Policia Nacional Civil de Guatemala</h2>
        <span class="byline">Sistema de estadistica y control de hechos violentos</span>
      </div>
    </div>
  </div>
</header>


<body>

  <div id="section">
    <div id="segundoBloque">
      <div class = "title">
        <h2>Titulo uno</h2>
      </div>
      <p>.Aca va texto o api de estadisticas</p>
    </div>
  </div>




  <div id="wrapper">
		<div id="two-column" class="container">
			<div class="title">
				<h2>Titulo dos</h2>
				<span class="byline">Prueba de tamano de contenedor a</span>
			</div>
      
			<div class="tbox1">
				<div id="chart_div" style="width: 600; height: 600;"></div>
			</div>
			<div class="tbox2">
				<p>Etiam neque. Vivamus consequat lorem at nisl. Nullam  wisi a sem semper eleifend. Donec mattis. Phasellus pellentesque, ante nec iaculis dapibus, eros justo auctor lectus, a lobortis lorem mauris quis nunc.</p>
				<a href="#" class="button button-alt">More Info</a>
			</div>
		</div>
	</div>


  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

{% block js %}
{% endblock %}


<div id="copyright" class="container">
  <p>&copy;  asdasd </p>
</div>

</body>
</html>
