{% extends 'base.html' %}
{% block content %}
	<form method = 'POST', action=''>
		{% csrf_token %}	
		
		Departamento:

		<select id='dep' name='dep'>
		<option selected></option>
		{% for elemento in Departamentos %}
			<option value="{{elemento.id}}">{{elemento.departamento}}</option>								
		{% endfor %}
		</select>
		
		<input type='submit' value='Registrar localizacion'>
{% endblock %}	

{% block js %}
{% csrf_token %}
<script type="text/javascript">	
	$('#dep').on('change', funcion);	
	
	document.getElementById("id_Municipio_id").length=0;

	function funcion(){
		var id = $(this).val();
		
		$.ajax({
			data : {'id' : id},
			url : '/regLocal/Local',
			type : 'get',
			success: function(data){
				var s2 = document.getElementById('id_Municipio_id');
				
				s2.innerHTML = ""
;				
				for (var i=0; i< data.length; i++){			
					var newOption = document.createElement("option");
					newOption.value = data[i].pk;
					newOption.innerHTML = data[i].fields.municipio;
					s2.options.add(newOption);
				}		
			}
		})
	}
</script>
{% endblock %}
	
</form>	
