{% extends 'base.html' %}



{% block asd %}
<script>
function cambiar(s1,s2){
	var s1 = document.getElementById(s1);
	var s2 = document.getElementById(s2);

	s2.innerHTML = "";
	if(s1.value == "3"){
		var optionArray = ["|","3|Guatemala","mixco|Mixco"];
	} else if(s1.value == "Quetzaltenango"){
		var optionArray = ["|","quetzaltenango|Quetzaltenango","salcaja|Salcaja"];
	} else if(s1.value == "Peten"){
		var optionArray = ["|","flores|Flores"];
	}
	for(var option in optionArray){
		var pair = optionArray[option].split("|");
		var newOption = document.createElement("option");
		newOption.value = pair[0];
		newOption.innerHTML = pair[1];
		s2.options.add(newOption);
	}
}
</script>
{% endblock %}


{% block content %}
	<form method = 'POST', action=''>
		{% csrf_token %}	
		
		Departamento:
		<select id="dep" name="dep" onchange="cambiar(this.id,'muni')">
		  <option value=""></option>
		  <option value="3">Guatemala</option>
		  <option value="Quetzaltenango">Quetzaltenango</option>
		  <option value="Peten">Peten</option>
		</select>

		<p></p>

		Municipio:
		<select id="muni" name="muni"></select>

		{{form.as_p}}
		<input type='submit' value='Registrar localizacion'>
{% endblock %}	
	
</form>	
