{% extends 'base.html' %}

{% block content %}



<div id="section">
	<div id="segundoBloque">
		<div class = "title">
			<h1>Bienvenido {{user.get_full_name}}</h1>
		</div>
		<h2>Informacion</h2>
			<p>Nombre de usuario: <i>{{user.nombre_usuario}}</i></p>
      		<p>Correo: <i>{{user.correo}}</i></p>
      		<p>Institucion: <i>{{user.institucion}}</i></p>
      		<p>Ultima conexion: <i>{{user.ultima_conexion}}</i></p>
      		<p>Tipo de Usuario: <i>{{user.Tipo_Usuario_id}}</i></p>
      		<a href = {% url 'appHome:pass' %}>Cambiar contraseña</a>
		<p>
			<a href = {% url 'appHome:list' %}>Usuarios</a>
			<a> | </a>
			<a href= {% url 'registros:list' %}>Registros</a>
			<a> | </a>
			<a href = {% url 'appHome:detail_list' %}>Actividades</a>
		</p>
	</div>
</div>




{% endblock %}
