{% extends 'base.html' %}


{% block content %}

<!-- onsubmit="this.reset()" -->
<div id="section">
  <div id="bloqueForms">
		<div class = "title">
      <h2>Nuevo Registro</h2>
    </div>
    <div class = "camposForms">
<form method = 'POST', action='' >
	{% csrf_token %}

	<label>Tipo de Arma:</label>
	<select id='armas' name='armas'>
		<option value="Fg">Arma de Fuego</option>
		<option value="Bn">Arma Blanca</option>
		<option value="Ot" selected>Otro</option>
	</select>
	<br/>
	<label>Arma:</label>

		{{form.Arma}}<br/> <a href = "/regArmas">Registrar nueva arma</a><br/>
	<div id='fg'>
		<label>No Casquillos:</label>
			{{form.no_casquillos}}<br/>
		<label>Serial:</label>
			{{form.serial}}<br/>
	</div>
	<label>Nombres:</label>
		{{form.nombres}}<br/>
	<label>Apellidos:</label>
		{{form.apellidos}}<br/>
	<label>Edad:</label>
		{{form.edad}}<br/>
	<label>Muerto:</label>
		{{form.muerto}}<br/>
	<label>Profesion:</label>
		{{form.profesion}}<br/>

	<label>Fiscal:</label>
		{{form.fiscal}}<br/>
	<label>Fecha del Suceso:</label>
		{{form.fecha}}<br/>
	<label>Descripcion:</label>
		{{form.descripcion}}<br/>
	<label>Movil:</label>
		{{form.movil}}<br/>
	<label>No de Expediente:</label>
		{{form.no_expediente}}<br/>

	<label>Departamento:</label>
	<select id='dep' name='dep'>
		<option selected></option>
		{% for elemento in Departamentos %}
			<option value="{{elemento.id}}">{{elemento.departamento}}</option>
		{% endfor %}
	</select>

	<label>Municipio:</label>
		{{form.Municipio}}


	<input type='submit' value='Guardar'>


{% endblock %}

{% block js %}
{% csrf_token %}
<script type="text/javascript">

	$('#dep').on('change', BusquedaMunicipio);
	$('#armas').on('change', BusquedaArma);
	$formulario_Fg=$('#fg');
	$formulario_Fg.hide();
	document.getElementById("id_Municipio").length=0;
	document.getElementById("id_Arma").length=0;


	function BusquedaMunicipio(){
		var id = $(this).val();
		$.ajax({
			data : {'id' : id},
			url : '/regLocal/Local',
			type : 'get',
			success: function(data){
				var s2 = document.getElementById('id_Municipio');

				s2.innerHTML = "";
				for (var i=0; i< data.length; i++){
					var newOption = document.createElement("option");
					newOption.value = data[i].pk;
					newOption.innerHTML = data[i].fields.municipio;
					s2.options.add(newOption);
				}
			}
		})
	}

	function BusquedaArma(){
		var id = $(this).val();
		$formulario_Fg.hide();
		console.log(id);

		if(id == 'Fg'){
			$formulario_Fg.show();
		}

		$.ajax({
			data : {'id' : id},
			url : '/regArma/Arma',
			type : 'get',
			success: function(data){
				var s2 = document.getElementById('id_Arma');
				console.log(s2);


				s2.innerHTML = "";
				for (var i=0; i< data.length; i++){
					var newOption = document.createElement("option");
					newOption.value = data[i].pk;
					if(id == 'Fg')
						newOption.innerHTML = data[i].fields.objeto + ' -- ' +data[i].fields.marca + ' -- ' +data[i].fields.calibre;
					else
						newOption.innerHTML = data[i].fields.objeto
					s2.options.add(newOption);
				}
			}

		})
	}

</script>

</form>
    </div>
  </div>
</div>
{% endblock %}
