{% extends 'base.html' %}

{% block content %}


    <div id="section">
      <div class = "title">
        <h1 style="color:black;">Registros</h1>
      </div>
      <div id="dobleBloque">
        <div class = "bloqueUno">
          {% for dato in registros %}
              <li>
                <p>
                    <a>Registro No.: {{ dato.id }}</a>
                    <a>Victima: {{dato.get_full_name}}</a>
                    <a>No. Expediente: {{dato.no_expediente}}</a>
                </p>
              </li>
          {% endfor %}
        </div>
        <div class = "bDos">
          {% for dato in registros %}
            <p>
              <a href={% url 'registros:detail' dato.id %}>Ver</a>
              <a> | </a>
              <a href={% url 'registros:edit' dato.id %}>Editar</a>
            </p>
          {% endfor %}
        </div>
      </div>
    </div>

{% endblock %}
