{% extends 'base.html' %}

{% block content %}

    <h1>Registros</h1>
    <ul>
        {% for dato in registros %}
            <li>
                <p>
                    Registro No.: {{ dato.id }}  Victima: {{dato.get_full_name}}  No. Expediente: {{dato.no_expediente}}
                </p>
                <p>
                	<a href={% url 'registros:detail' dato.id %}>Ver</a>
                	<a href={% url 'registros:edit' dato.id %}>Editar</a>
                </p>
            </li>
        {% endfor %}
    </ul>

{% endblock %}