{% extends 'base.html' %}

{% block content %}


<div id="section">
  <div id="dobleBloque">
    <div class = "title">
      <h1>Usuarios</h1>
    </div>
    <div class = "bloqueUno">
      {% for dato in usuarios %}
          <li>
              <p>{{ dato.nombre }}</p>
          </li>
      {% endfor %}
    </div>
    <div class = "bloqueDos">
      {% for dato in usuarios %}
        <p>
          <a href={% url 'appHome:detail' dato.id %}>Ver</a>
          <a> | </a>
          <a href={% url 'appHome:edit' dato.id %}>Editar</a>
        </p>
      {% endfor %}
    </div>
  </div>
</div>



{% endblock %}
