{% extends 'base.html' %}

{% block content %}

<table>
	
	<caption><h1>{{usuario.get_full_name}}</h1></caption>

	<thead>
		<tr>
			
			<th scope = "col">Nombre de usuario</th>
			<th scope = "col">Correo</th>
			<th scope = "col">Institucion</th>
			<th scope = "col">Ultima conexion</th>
			<th scope = "col">Tipo de Usuario</th>
			<th scope = "col">Activo</th>

		</tr>
	</thead>
	<tbody>
		
		<tr>
			
			<td>{{usuario.nombre_usuario}}</td>
			<td>{{usuario.correo}}</td>
			<td>{{usuario.institucion}}
			<td>{{usuario.ultima_conexion}}</td>
			<td>{{usuario.Tipo_Usuario_id}}</td>
			<td>{{usuario.is_active}}</td>


		</tr>

	</tbody>

</table>


{% endblock %}