{% extends 'base.html' %}

{% block content %}

<div id="section">
  <div id="bloqueDesplegar">
    <div class = "title">
      <h1>Información de perfil</h1>
    </div>
    <div class = "bloqueOne">
      <br/>
      <br/>
      <br/>
      <p>
      <h2>{{usuario.get_full_name}}</h2>
      </p>
    </div>
    <div class = "bloqueTwo">
      <p>Nombre de usuario: <i>{{usuario.nombre_usuario}}</i></p>
      <p>Correo: <i>{{usuario.correo}}</i></p>
      <p>Institucion: <i>{{usuario.institucion}}</i></p>
      <p>Ultima conexion: <i>{{usuario.ultima_conexion}}</i></p>
      <p>Tipo de Usuario: <i>{{usuario.Tipo_Usuario_id}}</i></p>
      <p>Activo: <i>{{usuario.is_active}}</i></p>
    </div>
  </div>
</div>


<!-- <div id="section">
  <div class = "title">
    <h1>Información de perfil</h1>
    <h3>{{usuario.get_full_name}}</h3>
  </div>
  <div class = "alineacionCentral">
    <table class="table">
      <td>{{usuario.get_full_name}}</td>
      <td>
        <tr><p>Nombre de usuario: <i>{{usuario.nombre_usuario}}</i></p></tr>
        <tr><p>Correo: <i>{{usuario.correo}}</i></p></tr>
        <tr><p>Institucion: <i>{{usuario.institucion}}</i></p></tr>
        <tr><p>Ultima conexion: <i>{{usuario.ultima_conexion}}</i></p></tr>
      </td>
  </div>
  </table>
</div> -->

{% endblock %}
